#viz1 {
  position:relative;
}

#viz2 {
  position:absolute;
  top:0px;
  left:860px;
}
#viz1text {
  display: none;
  margin-bottom:40px;
}

#viz2text {
  display: none;
}

.background {
  fill: none;
  pointer-events: all;
}

.links {
      stroke-width: 1px;
      stroke: #00538C;
      opacity: 0.2;
}

.nodes {
  stroke: white;
  stroke-width: 1px;
}

.states :hover {
  stroke-opacity: 1;
  color: red;
}

.states .active {
  fill: orange;
}

.states {
  fill-opacity:0;
  stroke: orange;
  stroke-opacity: 1;
  stroke-width: 1.2 px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}
